body {
    background-color:#ececec;
}

nav.navbar {
    background-color:#ffffff;
}

.kontenerki {
    background-color: #f9f3f3;

}
.baner{
    height:300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    background-image: url(img/movies/2.jpg);
  }
