body {
	background-color: #D7CFCF;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

img {
	max-height: 200px;
	padding: 10px;
}

.info, .rec, .trailer, .film__list, .actors {
	background-color: white;
}

h2 {
	padding: 10px;
}
 
p {
	padding: 10px;
}

iframe {
	padding: 10px;
}

.info img {
	float: left;
}
.info{
	padding-bottom: 10px;
	overflow: hidden;
}

a {
	color: green;
	font-size: 12px;
}